<app-header></app-header>

<div class="content">
  <div class="datePicker">
    <mat-form-field>
      <mat-label>Ingresar un rango de fecha</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Fecha Inicio" [(ngModel)]="fechaInicio">
        <input matEndDate placeholder="Fecha Fin" [(ngModel)]="fechaFin">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  </div>

  <div class="select">
    <mat-form-field class="custom-form-field">
      <mat-label>Seleccione el usuario</mat-label>
      <mat-select required [(ngModel)]="seleccionUsuario">
        <mat-option *ngFor="let usuPlaca of placas" [value]="usuPlaca">
          {{ usuPlaca }}

        </mat-option>
      </mat-select>
      <mat-error>Seleccione un usuario</mat-error>
      <mat-hint></mat-hint>
    </mat-form-field>
  </div>
  
  <div class="buscar">
    <button class="custom-btn btn-12" (click)="buscarHistorial()">
      <span>Buscar</span>
      <span>Buscar</span>
    </button>
  </div>

</div>

<div id="chart-container"></div>
  
